<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <autofac defaultAssembly="Toe.Core">
    <modules>
      <!--<module type="Toe.Editor.EditorModule, Toe.Editor">
      </module>-->
      <module type="Toe.Core.CoreModule, Toe.Core">
      </module>
      <module type="Toe.Game.GameModule, Toe.Game">
      </module>
      <module type="Toe.CubeScene.CubeSceneModule, Toe.CubeScene">
      </module>
    </modules>
    <!--<components>
      <component type="Toe.Core.CompositeComponentFabric, Toe.Core">
        <services>
          <service type="Toe.Core.IComponentFabric" />
          <service type="Toe.Core.CompositeComponentFabric" />
        </services>
      </component>
    </components>-->
  </autofac>
</configuration>
